<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v362.mapper">

  <!-- 获取全部测试记录 -->
  <select id="v362-selectAllRecordtd" resultType="V362Recordtd">
    SELECT * FROM
    v362_recordtd
  </select>
  <!-- 获取指定日期的测试记录 -->
  <select id="v362-selectRecordtdByDate"  parameterType="java.lang.String" resultType="V362Recordtd">
    SELECT * FROM
    v362_recordtd WHERE recordtime=#{recordtime}
  </select>
  <!-- 插入一条测试记录 -->
  <insert id="v362-insertRecordtd" parameterType="V362Recordtd">
    INSERT INTO
    v362_recordtd(recordname, recordsum, recordok, recordng,
    recordts,
    recordtime)
    VALUES(#{recordname}, #{recordsum}, #{recordok}, #{recordng}, #{recordts}, #{recordtime})
  </insert>
  <!-- 更新一条测试记录 -->
  <update id="v362-updateRecordtd" parameterType="V362Recordtd">
    UPDATE
    v362_recordtd set recordname=#{recordname}, recordsum=#{recordsum},
    recordok=#{recordok}, recordng=#{recordng},
    recordts=#{recordts} WHERE
    recordtime=#{recordtime}
  </update>

</mapper>